body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://wallpapers.com/images/featured/one-piece-c0pujiakubq5rwas.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    color: white;
}
header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 15px 0;
}
nav {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
section {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    margin: 20px;
    border-radius: 10px;
}
footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.imagen-derecha {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
}
.contenedor {
    margin: 20px;
}
.contenedor img {
    float: left; 
    width: 200px; 
    margin-right: 20px; 
    border-radius: 10px; 
}
.contenedor .descripcion {
    font-size: 16px;
    color: #d8d8d8;
    overflow: hidden; 
}